$theme-colors: (
  "primary": #2a8354,
);

/* Utility stuff */
.hover-op:hover {
  opacity: 0.7;
  cursor: pointer;
}

.centered-page {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Elements */
div .colored-circle {
  display: inline-block;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #2a8354;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.blink {
  animation: blinker 2.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.header-title {
  font-family: "Montserrat";
}

.pop {
  font-family: "Poppins";
}

@import "~bootstrap/scss/bootstrap.scss";
